<div class="accessibility-container">
    <img src="/images/accessibility-icon.png" class="accessibility-button" id="accessibility-button" aria-controls="all-accessibility-options" aria-expanded="false" tabindex="0">

    <div class="all-accessibility-options">
        <h3>Content adjustments</h3>

        <div class="three-widget-row">
            <div class="small-widget" id="highlight-title" tabindex="0">
                <img src="/images/titles-light.png" class="option-icon" id="titles-icon-light">
                <img src="/images/titles-dark.png" class="option-icon" id="titles-icon-dark">
                <p>Highlight Titles</p>
            </div>

            <div class="small-widget" id="highlight-link" tabindex="0">
                <img src="/images/link-light.png" class="option-icon" id="links-icon-light">
                <img src="/images/link-dark.png" class="option-icon" id="links-icon-dark">
                <p>Highlight Links</p>
            </div>

            <div class="small-widget" id="larger-font-size" tabindex="0">
                <img src="/images/font-size-light.png" class="option-icon" id="larger-font-icon-light">
                <img src="/images/font-size-dark.png" class="option-icon" id="larger-font-icon-dark">
                <p>Larger Font Size</p>
            </div>
        </div>

        <h3>Colour adjustments</h3>

        <div class="three-widget-row">
            <div class="small-widget" id="low-saturation" tabindex="0">
                <img src="/images/low-saturation-light.png" class="option-icon" id="low-saturation-icon-light">
                <img src="/images/low-saturation-dark.png" class="option-icon" id="low-saturation-icon-dark">
                <p>Low Saturation</p>
            </div>

            <div class="small-widget" id="high-saturation" tabindex="0">
                <img src="/images/high-saturation-light.png" class="option-icon" id="high-saturation-icon-light">
                <img src="/images/high-saturation-dark.png" class="option-icon" id="high-saturation-icon-dark">
                <p>High Saturation</p>
            </div>

            <div class="small-widget" id="monochrome" tabindex="0">
                <img src="/images/monochrome-light.png" class="option-icon" id="monochrome-icon-light">
                <img src="/images/monochrome-dark.png" class="option-icon" id="monochrome-icon-dark">
                <p>Monochrome</p>
            </div>
        </div>

        <div class="twoXtwo-widget-box">
            <div class="two-widget-column">
                <div class="small-widget" id="low-contrast" tabindex="0">
                    <img src="/images/low-contrast-light.png" class="option-icon" id="low-contrast-icon-light">
                    <img src="/images/low-contrast-dark.png" class="option-icon" id="low-contrast-icon-dark">
                    <p>Low Contrast</p>
                </div>

                <div class="small-widget" id="high-contrast" tabindex="0">
                    <img src="/images/high-contrast-light.png" class="option-icon" id="high-contrast-icon-light">
                    <img src="/images/high-contrast-dark.png" class="option-icon" id="high-contrast-icon-dark">
                    <p>High Contrast</p>
                </div>
            </div>

            <div class="large-widget" id="colour-settings">
                <p>Colour Settings</p>
            </div>
        </div>

        <h3>Display preferences</h3>

        <div class="three-widget-row">
            <div class="small-widget" id="dark-mode" tabindex="0">
                <img src="/images/mode-light.png" class="option-icon" id="light-mode-icon">
                <img src="/images/mode-dark.png" class="option-icon" id="dark-mode-icon">
                <p>Dark Mode</p>
            </div>

            <div class="medium-widget" id="animations">
                <p>Animations</p>

                <div class="mini-widget-three-row">
                    <div class="mini-widget" id="monochrome" tabindex="0">
                        <img src="/images/off-light.png" class="option-icon" id="off-icon-light">
                        <img src="/images/off-dark.png" class="option-icon" id="off-icon-dark">
                        <span class="tooltip">Off</span>
                    </div>

                    <div class="mini-widget" id="monochrome" tabindex="0">
                        <img src="/images/reduced-light.png" class="option-icon" id="reduced-icon-light">
                        <img src="/images/reduced-dark.png" class="option-icon" id="reduced-icon-dark">
                        <span class="tooltip">Reduced</span>
                    </div>

                    <div class="mini-widget" id="monochrome" tabindex="0">
                        <img src="/images/on-light.png" class="option-icon" id="on-icon-light">
                        <img src="/images/on-dark.png" class="option-icon" id="on-icon-dark">
                        <span class="tooltip">On</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>