<footer>
    <hr class="footer-line">
    <div class="footer-container">
        <div class="footer-single-line-container">
            <p><a href="about">About</a></p>
            <p><a href="help">Help</a></p>
            <p><a href="creators">Creators</a></p>
            <p><a href="privacy_policy">Privacy Policy</a></p>
            <p><a href="terms_of_service">Terms of Service</a></p>
        </div>
        
        <div class="footer-single-line-container">
            <p>English (UK)</p>
            <p>© 2023 PixelPulse</p>
        </div>
    </div>
</footer>