<footer>
    <hr class="footer-line">
    <div class="footer-container">
        <div class="footer-single-line-container">
            <p><a href="about">About</a></p>
            <p>Help</p>
            <p>Creators</p>
            <p>Privacy Policy</p>
            <p>Terms of Service</p>
        </div>
        
        <div class="footer-single-line-container">
            <p>English (UK)</p>
            <p>© 2023 PixelPulse</p>
        </div>
    </div>
</footer>