<header>
    <nav class="primary-navigation">
        <a class="navigation-logo" href="/">
            <img src="/images/favicon.png" alt="PixelPulse Logo" class="logo-image">
            <img src="/images/logotext-light.png" alt="PixelPulse Logo" class="logo-text" id="logo-text-light">
            <img src="/images/logotext-dark.png" alt="PixelPulse Logo" class="logo-text" id="logo-text-dark">
        </a>
    
        <ul class="navigation">
            <div class="mobile-navigation-container">
                <li class="navigation-heading" aria-controls="mobile-navigation" aria-expanded="false">Menu</li>
    
                <div class="menu-navigation hide-on-start" id="mobile-navigation">
                    <li class="navigation-item"><a href="/explore">Explore</a></li>
    
                    <% if (!currentUser) { %>
                        <li class="navigation-item sign-in-desktop"><a href="/login">Log in<Input:b></Input:b></a></li>
                    <% } %>
    
    
                    <div class="mobile-settings">
                        <hr class="line-spacer">
                        <li class="navigation-item"><a href="help">Help</a></li>

                        <div class="mobile-accessibility-toggle" aria-controls="accessibility-button" aria-expanded="true">
                            <li class="navigation-item" id="on"><a>Accessibility menu: On</a></li>
                            <li class="navigation-item" id="off"><a>Accessibility menu: Off</a></li>
                        </div>

                        <%if (currentUser) { %>
                            <hr class="line-spacer">
                            <li class="navigation-item"><a href="/profile">View profile</a></li>
                            <li class="navigation-item"><a href="/logout">Logout</a></li> <!-- Show logout button only if user is logged in -->
                        <% } else { %>
                            <hr class="line-spacer">
                            <li class="navigation-item"><a href="/login">Log in<Input:b></Input:b></a></li>
                        <% } %>
                    </div>
                </div>
            </div>
            
            <% if (currentUser) { %>
                <a href="/profile"><img src="/<%= currentUser.profile_picture %>" class="account-image" alt="profile image"></a> <!-- Show profile button only if user is logged in -->
            <% } %>
    
            <div class="settings-navigation">
                <div class="settings-menu">
                    <li class="navigation-item" aria-controls="burger-menu" aria-expanded="false" tabindex="0" id="settings-menu-light"><img src="/images/gear-light.png" class="settings-icon" alt="settings icon"></li>
                    <li class="navigation-item" aria-controls="burger-menu" aria-expanded="false" tabindex="0" id="settings-menu-dark"><img src="/images/gear-dark.png" class="settings-icon" alt="settings icon"></li>
                </div>
                
                <div class="burger-menu hide-on-start" id="burger-menu">
                    <ul class="burger-list">
                        <li class="navigation-item"><a href="help">Help</a></li>
                        
                        <!-- Changes text when accessibility is turned on -->
                        <div class="accessibility-toggle" aria-controls="accessibility-button" aria-expanded="true" tabindex="0">
                            <li class="navigation-item" id="on"><a>Accessibility menu: On</a></li>
                            <li class="navigation-item" id="off"><a>Accessibility menu: Off</a></li>
                        </div>
                        

                        <% if (currentUser) { %>
                            <hr class="line-spacer">
                            <li class="navigation-item"><a href="/logout">Logout</a></li> <!-- Show logout button only if user is logged in -->
                        <% } %>
                    </ul>
                </div>
            </div>
        </ul>
    </nav>
</header>