<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>PixelPulse - Project</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        #editor, #preview {
            flex: 1;
            width: 50%;
            height: calc(100% - 60px); /* Subtracting the navbar height, assuming it's 60px */
        }

        .coding-area {
            display: flex;
            flex: 1;
            height: calc(100% - 60px); /* Subtracting the navbar height, assuming it's 60px */
        }
    </style>
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="coding-area">
        <div id="editor"></div>
        <iframe id="preview"></iframe>
    </div>

    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/javascript");
    
        var previewFrame = document.getElementById('preview');
        var preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;
    
        // Create the p5.js script tag in the iframe
        var p5Script = preview.createElement('script');
        p5Script.src = "https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js";
    
        // When p5.js script loads, set up the editor and the iframe
        p5Script.onload = function() {
            // Create the user-code script tag in the iframe
            var userCodeScript = preview.createElement('script');
            userCodeScript.id = 'user-code';
            preview.body.appendChild(userCodeScript);
    
            editor.session.on('change', function(delta) {
                var code = editor.getValue();
    
                // Replace the content of the user-code script tag whenever the editor changes
                userCodeScript.textContent = code;
    
                // Re-run the script in the iframe
                var newScript = preview.createElement('script');
                newScript.textContent = userCodeScript.textContent;
                preview.body.appendChild(newScript);
            });
        }
    
        preview.head.appendChild(p5Script);
    </script>
</body>
</html>
