<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>PixelPulse Explore</title>
</head>
<body>
    <%- include('partials/navbar') %>

    <main class="container">
        <!-- Page header -->
        <header class="mt-4 mb-5">
            <h1 class="display-4 text-center">Explore</h1>
            <p class="lead text-center">Discover new users and their fascinating projects</p>
        </header>

        <!-- Search Bar -->
        <section class="mb-5">
            <form class="form-inline justify-content-center">
                <input class="form-control mr-sm-2" type="search" placeholder="Search users or projects" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </section>

        <!-- User and Projects section -->
        <section class="py-5 bg-light">
            <%- include('partials/userCard') %>
        </section>
    </main>
  
    <footer>
        <%- include('partials/footer') %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
