<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/accessibility.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/explore.css">
    <script src="/js/menu-button.js" defer ></script>
    <script src="/js/showAccessibility.js" defer ></script>
    <script src="/js/accessibility-button.js" defer ></script>
    <script src="/js/accessibility.js" defer ></script>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap" rel="stylesheet">
    <title>PixelPulse Explore</title>
</head>
<body>
    <%- include('partials/navbar') %>

    <%- include('partials/accessibilityMenu') %>

    <main>
        <h2 class="sub-heading">Welcome to</h2>
        <h1 class="main-heading">PixelPulse Explore</h1>

        <h1 class="level-heading">Level 4</h1>

        <div class="level-row">
            <div class="module-card">
                <img src="/images/itp1.png" class="module-icon">
                <h2 class="module-title">Introduction to Programming I</h2>
                <p class="module-description">Coursework I (50%) <br>Coursework II (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/itp2.png" class="module-icon">
                <h2 class="module-title">Introduction to Programming II</h2>
                <p class="module-description">Coursework I (30%) <br>Coursework II (70%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/cm.png" class="module-icon">
                <h2 class="module-title">Computational Mathematics</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/dm.png" class="module-icon">
                <h2 class="module-title">Discrete Mathematics</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/hcw.png" class="module-icon">
                <h2 class="module-title">How Computers Work</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/fcs.png" class="module-icon">
                <h2 class="module-title">Fundamentals of computer science</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/wd.png" class="module-icon">
                <h2 class="module-title">Web Development</h2>
                <p class="module-description">Coursework I (30%) <br>Coursework II (70%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/ads1.png" class="module-icon">
                <h2 class="module-title">Algorithms and data structures I</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
        </div>

        <h1 class="level-heading">Level 5</h1>

        <div class="level-row">
            <div class="module-card">
                <img src="/images/oop.png" class="module-icon">
                <h2 class="module-title">Object Oriented Programming</h2>
                <p class="module-description">Coursework I (50%) <br>Coursework II (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/sdd.png" class="module-icon">
                <h2 class="module-title">Software design and development</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/dnw.png" class="module-icon">
                <h2 class="module-title">Databases, networks and the web</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/asp.png" class="module-icon">
                <h2 class="module-title">Agile software projects</h2>
                <p class="module-description">Coursework I (30%) <br>Coursework II (70%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/csec.png" class="module-icon">
                <h2 class="module-title">Computer security</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/gp.png" class="module-icon">
                <h2 class="module-title">Graphics programming</h2>
                <p class="module-description">Coursework I (50%) <br>Coursework II (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/ads2.png" class="module-icon">
                <h2 class="module-title">Algorithms and data structures II</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/pwd.png" class="module-icon">
                <h2 class="module-title">Programming with data</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
        </div>
        
        <h1 class="level-heading">Level 6</h1>

        <div class="level-row">
            <div class="module-card">
                <img src="/images/ds.png" class="module-icon">
                <h2 class="module-title">Data Science</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/dadt.png" class="module-icon">
                <h2 class="module-title">Databases and advanced data techniques</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/mlnn.png" class="module-icon">
                <h2 class="module-title">Machine learning and neural networks</h2>
                <p class="module-description">Coursework I (50%) <br>Coursework II (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/ai.png" class="module-icon">
                <h2 class="module-title">Artificial intelligence</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/vr.png" class="module-icon">
                <h2 class="module-title">Virtual reality</h2>
                <p class="module-description">Coursework I (30%) <br>Coursework II (70%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/gd.png" class="module-icon">
                <h2 class="module-title">Games development</h2>
                <p class="module-description">Coursework I (30%) <br>Coursework II (70%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/awd.png" class="module-icon">
                <h2 class="module-title">Advanced Web Development</h2>
                <p class="module-description">Coursework I (50%) <br>Coursework II (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
    
            <div class="module-card">
                <img src="/images/pciot.png" class="module-icon">
                <h2 class="module-title">Physical computing and the internet of things</h2>
                <p class="module-description">Coursework I (30%) <br>Coursework II (70%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>

            <div class="module-card">
                <img src="/images/ga.png" class="module-icon">
                <h2 class="module-title">3D Graphics and animation</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>

            <div class="module-card">
                <img src="/images/md.png" class="module-icon">
                <h2 class="module-title">Mobile development</h2>
                <p class="module-description">Coursework I (30%) <br>Coursework II (70%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>

            <div class="module-card">
                <img src="/images/id.png" class="module-icon">
                <h2 class="module-title">Interaction design</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>

            <div class="module-card">
                <img src="/images/nlp.png" class="module-icon">
                <h2 class="module-title">Natural language processing</h2>
                <p class="module-description">Coursework (50%) <br>Examination (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>

            <div class="module-card">
                <img src="/images/isp.png" class="module-icon">
                <h2 class="module-title">Intelligent signal processing</h2>
                <p class="module-description">Coursework I (50%) <br>Coursework II (50%)</p>
                <p class="module-post-number">Posts: x</p>
            </div>
        </div>
        


        <!-- User and Projects section -->

    </main>
  
    <%- include('partials/footer') %>
</body>
</html>
