<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/accessibility.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/informationalPages.css">
    <script src="/js/menu-button.js" defer ></script>
    <script src="/js/showAccessibility.js" defer ></script>
    <script src="/js/accessibility-button.js" defer ></script>
    <script src="/js/accessibility.js" defer ></script>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap" rel="stylesheet">
    <title>PixelPulse - Help</title>
</head>
<body>
    <%- include('partials/navbar') %>

    <%- include('partials/accessibilityMenu') %>
   
    <main>
        <div class="information-container">
            <h1>Help</h1>
            <hr class="line-spacer">

            <h2>We understand you might need a little more help</h2>
        </div>
    </main>
  
    <%- include('partials/footer') %>
</body>
</html>