<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/accessibility.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/menu-button.js" defer ></script>
    <script src="/js/showAccessibility.js" defer ></script>
    <script src="/js/accessibility-button.js" defer ></script>
    <script src="/js/accessibility.js" defer ></script>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap" rel="stylesheet">
    <title>PixelPulse</title>
</head>
<body>
    <%- include('partials/navbar') %>

    <%- include('partials/accessibilityMenu') %>
   
    <main class="container">
        <section>
            <h2>Featured Projects</h2>
            <div class="row">
                <div class="col-md-6">
                    <article>
                        <h3>Project 1</h3>
                        <p>Description of Project 1...</p>
                    </article>
                </div>
                <div class="col-md-6">
                    <article>
                        <h3>Project 2</h3>
                        <p>Description of Project 2...</p>
                    </article>
                </div>
            </div>
        </section>
        
        <section>
            <h2>Latest Discussions</h2>
            <div class="row">
                <div class="col-md-6">
                    <article>
                        <h3>Discussion 1</h3>
                        <p>Content of Discussion 1...</p>
                    </article>
                </div>
                <div class="col-md-6">
                    <article>
                        <h3>Discussion 2</h3>
                        <p>Content of Discussion 2...</p>
                    </article>
                </div>
            </div>
        </section>
    </main>
  
    <%- include('partials/footer') %>
</body>
</html>