<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/accessibility.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/leaderboard.css">
    <script src="/js/menu-button.js" defer ></script>
    <script src="/js/showAccessibility.js" defer ></script>
    <script src="/js/accessibility-button.js" defer ></script>
    <script src="/js/accessibility.js" defer ></script>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap" rel="stylesheet">
    <title>PixelPulse</title>
</head>
<body>
    <%- include('partials/navbar') %>

    <%- include('partials/accessibilityMenu') %>
   
    <section class="hero-container">
        <div class="hero-section">
            <div class="hero-text">
                <h1>Welcome to PixelPulse</h1>
                <p class="hero-description">It's okay if it's your first time here, we've got you covered. Let us explain it all.</p>
                <a href="about" class="hero-link-container">
                    <p class="hero-link">Find out more about PixelPulse</p>
                    <img src="/images/right-arrow.png" class="hero-right-arrow">
                </a>
            </div>
            
            <img src="/images/hero-image.png" class="hero-image">
        </div>
    </section>

    <main class="home-container">
        <section class="leaderboard-container">
            <div class="leaderboard-heading">
                <img src="/images/leaderboard-icon-light.png" class="leaderboard-icon" id="leaderboard-icon-light">
                <img src="/images/leaderboard-icon-dark.png" class="leaderboard-icon" id="leaderboard-icon-dark">
                <h2>Leaderboard</h2>
            </div>
            

            <hr class="line-spacer">

            <%- include('partials/leaderboard') %>
        </section>

        <section class="project-container">
            <form class="search-container">
                <input class="search-input" type="search" placeholder="Search for users or projects" aria-label="Search">
                <span class="search-icon">
                    <img src="/images/search-icon-light.png" class="magnifying-glass-icon" id="search-icon-light">
                    <img src="/images/search-icon-dark.png" class="magnifying-glass-icon" id="search-icon-dark">
                </span>
                <button class="search-button" type="submit">Search</button>
            </form>
        </section>
        
    </main>
  
    <%- include('partials/footer') %>
</body>
</html>