<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>PixelPulse</title>
</head>
<body>
    <%- include('partials/navbar') %>
   
  
    <main class="container">
        <section>
            <h2>Featured Projects</h2>
            <div class="row">
                <div class="col-md-6">
                    <article>
                        <h3>Project 1</h3>
                        <p>Description of Project 1...</p>
                    </article>
                </div>
                <div class="col-md-6">
                    <article>
                        <h3>Project 2</h3>
                        <p>Description of Project 2...</p>
                    </article>
                </div>
            </div>
        </section>
        
        <section>
            <h2>Latest Discussions</h2>
            <div class="row">
                <div class="col-md-6">
                    <article>
                        <h3>Discussion 1</h3>
                        <p>Content of Discussion 1...</p>
                    </article>
                </div>
                <div class="col-md-6">
                    <article>
                        <h3>Discussion 2</h3>
                        <p>Content of Discussion 2...</p>
                    </article>
                </div>
            </div>
        </section>
    </main>
  
    <footer>
        <%- include('partials/footer') %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>