<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/accessibility.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/loginForm.css">
    <script src="/js/accessibility.js" defer ></script>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap" rel="stylesheet">
    <title>PixelPulse - Login</title>
</head>
<body>
    <a href="/">
        <img src="/images/left-arrow-light.png" class="back-image" id="back-image-light">
        <img src="/images/left-arrow-dark.png" class="back-image" id="back-image-dark">
    </a>

    <main>
        <section class="login-section">
            <div class="form-container">
                <h1 class="form-heading">Welcome back!</h1>
                <p class="form-subheading">Please enter your details</p>
                <form method="post">
                    <div class="form-group">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-input" type="email" id="email" name="email" class="form-control" required placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-input" type="password" id="password" name="password" class="form-control" required placeholder="Password">
                    </div>

                    <button class="form-button" type="submit">Log in</button>
                </form>

                <hr class="line-spacer">

                <p class="switch-line">Don't have an account? <a href="signup">Sign up</a></p>
            </div>

            <div class="login-image-container">
                <img src="/images/logotext-light.png" alt="PixelPulse Logo" class="login-image" id="logo-text-light">
                <img src="/images/logotext-dark.png" alt="PixelPulse Logo" class="login-image" id="logo-text-dark">
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>

    <!-- Same scripts as your signup.html -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
