<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/theme/darcula.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/javascript/javascript.min.js"></script>
    <title>PixelPulse - Edit Project</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <main>
        <section class="upload-section py-5">
            <div class="container">
                <h1 class="mb-4 text-center">Upload Your Project</h1>

                <div class="upload-form">
                    <form action="/project/upload" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="_method" value="POST">
                        <div class="form-group">
                            <label for="projectTitle">Project Title:</label>
                            <input type="text" class="form-control" id="projectTitle" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="projectDescription">Project Description:</label>
                            <textarea class="form-control" id="projectDescription" name="description" rows="3" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="projectFile">Project File:</label>
                            <input type="file" class="form-control-file" id="projectFile" name="project_picture">
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="coding-area row">
                                    <div id="editor" class="col-md-6" style="height:500px;"></div>
                                    <div class="col-md-6">
                                        <iframe id="preview" class="w-200 h-100" style="height:500px;"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-button-container my-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    <div class="mt-3">
                        <a href="/profile" class="btn btn-secondary">Back</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <%- include('partials/footer') %>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script>
        // Add Ace Editor specific scripts
        var editor;
        var previewFrame;
        var preview;

        window.onload = function() {
            editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/javascript");

            // Initial empty code
            editor.setValue('');

            previewFrame = document.getElementById('preview');
            preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;

            var p5Script = preview.createElement('script');
            p5Script.src = "https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js";

            p5Script.onload = function() {
                // Listen to changes in the code editor and run new code
                editor.session.on('change', function(delta) {
                    var newCode = editor.getValue();
                    runCode(newCode);
                });
            }

            preview.head.appendChild(p5Script);
        };

        function runCode(code) {
            var userCodeScript = preview.createElement('script');
            userCodeScript.textContent = code;
            preview.body.appendChild(userCodeScript);
        }
    </script>
</body>
</html>
