<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/accessibility.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/loginForm.css">
    <script src="/js/showAccessibility.js" defer ></script>
    <script src="/js/accessibility.js" defer ></script>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap" rel="stylesheet">
    <title>PixelPulse - Edit Project</title>
</head>
<body>
    <%- include('partials/navbar') %>

    <%- include('partials/accessibilityMenu') %>

    <main>
        <section class="login-section">
            <div class="form-container">
                <h1 class="form-heading">Project upload!</h1>
                <p class="form-subheading">Please enter your project details</p>
                <form action="/project/upload" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-input" type="text" id="title" name="title" class="form-control" required placeholder="Please enter a title">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="description">Description</label>
                        <input class="form-input" type="text" id="description" name="description" class="form-control" required placeholder="Please enter a description">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="project_picture">Project Picture</label>
                        <input type="file" id="project_picture" name="project_picture">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="code">Code</label>
                        <div id="editor" style="height:400px;"></div>
                    </div>

                    <button class="form-button" type="submit">Submit</button>
                </form>
            </div>

            <div class="login-image-container">
                <img src="/images/logotext-light.png" alt="PixelPulse Logo" class="login-image" id="logo-text-light">
                <img src="/images/logotext-dark.png" alt="PixelPulse Logo" class="login-image" id="logo-text-dark">
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/theme/darcula.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css">
    <script>
        // Add Ace Editor specific scripts
        var editor;
        var previewFrame;
        var preview;

        window.onload = function() {
            editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/javascript");

            // Initial empty code
            editor.setValue('');

            previewFrame = document.getElementById('preview');
            preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;

            var p5Script = preview.createElement('script');
            p5Script.src = "https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js";

            p5Script.onload = function() {
                // Listen to changes in the code editor and run new code
                editor.session.on('change', function(delta) {
                    var newCode = editor.getValue();
                    runCode(newCode);
                });
            }

            preview.head.appendChild(p5Script);
        };

        function runCode(code) {
            var userCodeScript = preview.createElement('script');
            userCodeScript.textContent = code;
            preview.body.appendChild(userCodeScript);
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
