<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/accessibility.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/informationalPages.css">
    <script src="/js/menu-button.js" defer ></script>
    <script src="/js/showAccessibility.js" defer ></script>
    <script src="/js/accessibility-button.js" defer ></script>
    <script src="/js/accessibility.js" defer ></script>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap" rel="stylesheet">
    <title>PixelPulse - Terms of service</title>
</head>
<body>
    <%- include('partials/navbar') %>

    <%- include('partials/accessibilityMenu') %>
   
    <main>
        <div class="information-container">
            <h1>Terms of service</h1>
            <hr class="line-spacer">

            <h2>1. Acceptance of Terms</h2>
            <p>Welcome to PixelPulse! These Terms of Service ("Terms") govern your use of the PixelPulse application (the "Service"), provided by University of London and ASP Team 54 ("We," "Us," or "Our"). By accessing or using the Service, you agree to comply with and be bound by these Terms. If you do not agree to these Terms, please do not use the Service.</p>

            <h2>2. User Registration</h2>
            <p>2.1 You must be a registered user to access certain features of the Service. When registering, you agree to provide accurate, current, and complete information about yourself.
                <br> <br>
                2.2 You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account or any other breach of security.
            </p>

            <h2>3. The PixelPulse Service</h2>
            <p>3.1 We agree to provide you with the PixelPulse Service, which includes all features, applications, services, and technologies designed to help you connect, communicate, and share coding projects within the PixelPulse community.
                <br><br>
                3.2 Our mission is to facilitate learning and collaboration among students by offering personalized opportunities to post, discover, and engage with coding projects. We also aim to foster a positive, inclusive, and safe environment, and to provide seamless experiences across PixelPulse and related services.
                <br><br>
                3.3 You understand and acknowledge that the Service may involve the use of advanced technologies such as artificial intelligence and machine learning to enhance your experience and improve our platform's functionality.
            </p>

            <h2>4. User Content</h2>
            <p>4.1 Users may post coding projects and related content on the Service. By posting content, you represent and warrant that you have all necessary rights to distribute and display the content.
                <br><br>
                4.2 While you retain ownership of your content, by posting it on the Service, you grant us a non-exclusive, worldwide, royalty-free, and sublicensable license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content.
                <br><br>
                4.3 We reserve the right to remove or edit any content that violates these Terms or is deemed inappropriate, without prior notice.
            </p>

            <h2>5. Privacy</h2>
            <p>5.1 Your use of the Service is also governed by our Privacy Policy, which can be found <a href="privacy_policy" class="privacy-policy-link">here</a>. By using the Service, you consent to the collection, use, and sharing of your information as described in the Privacy Policy.</p>

            <h2>6. Intellectual Property</h2>
            <p>6.1 The Service and its original content, features, and functionality are owned by University of London and ASP Team 54 and are protected by international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.</p>

            <h2>7. Prohibited Activities</h2>
            <p>7.1 You agree not to engage in any of the following activities while using the Service:
                <br><br>
                - Violating any applicable laws or regulations.
                <br>
                - Posting or transmitting any content that is illegal, offensive, defamatory, or infringing on the rights of others.
                <br>
                - Attempting to gain unauthorized access to our servers or other computer systems.
                <br>
                - Interfering with the proper functioning of the Service.
                <br>
                - Using the Service for any commercial purposes without our express consent.
            </p>

            <h2>8. Termination</h2>
            <p>8.1 We reserve the right to terminate or suspend your account and access to the Service, with or without notice, for any reason, including violation of these Terms.</p>

            <h2>9. Limitation of Liability</h2>
            <p>9.1 To the fullest extent permitted by applicable law, University of London and ASP Team 54 shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses.</p>

            <h2>10. Governing Law</h2>
            <p>10.1 These Terms shall be governed by and construed in accordance with the laws of the United Kingdom, without regard to its conflict of law principles.</p>

            <h2>11. Contact Us</h2>
            <p>11.1 If you have any questions or concerns about these Terms, please contact us on Slack.
                <br><br>
                Thank you for using PixelPulse, and we hope you find it valuable for your coding projects and academic journey!
            </p>

            <p><i>Last updated: 1 September 2023</i></p>
        </div>
    </main>
  
    <%- include('partials/footer') %>
</body>
</html>