* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.containerProject {
    padding: 0;
    margin: 0;
    min-height: 100vh; /* Ensure container fills viewport height */
}


#editor, #preview {
    width: 100%;
    height: 60vh; /* Set a more appropriate height */
}

.coding-area {
    display: flex;
    height: 100%;
}

/* Style the profile image */
.rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%; /* Gives avatar a round shape */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow to make the avatar pop up */
    transition: transform .2s; /* Animation to slightly enlarge profile picture on hover */
    border: 2px solid #ccc; /* Adds a solid border */
}

.rounded-circle:hover {
    transform: scale(1.1); /* Slightly enlarges picture on mouse hover */
}


.navbar {
    margin: 0;
    padding: 0;
}
